<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <h1>Main Menu</h1>
        <nav>
            <a href="/budgets/new">Create a New budget</a>
        </nav>
        <ul>
            <% for(let i = 0; i < allBudgets.length; i++) { %>
                <li>
                    <a href="/budgets/<%=i%>"><%=allBudgets[i].date %>, <%=allBudgets[i].name %>, <%=allBudgets[i].amount %>$</a>
                    <form action="/budgets/<%= i %>" method="POST">
                    </form>
                </li>
            <% } %>
        </ul>
    </body>
</html>