<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <h1><%= budget.name %></h1>

        <li>
            <h3 style="color:black;"> Date:</h1><%= budget.date %>
            <h3 style="color:black;">From:</h1><%= budget.from %>
            <h3 style="color:black;">Name:</h1><%= budget.name %>
            <h3 style="color:black;">Amount:</h1>$<%= budget.amount %>
            <h3 style="color:black;">Tags:</h1><%= budget.tags %>
        </li>

        <a href="/budgets"><button>Return to Main Menu</button></a>
    </body>
</html>